* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

:root {
    --primary: #0c1f7b;
    --secondary: #061351;
    --buttonColor: #4b0eac;
    --textColor: rgb(197, 197, 197);
}

body {
    background: var(--primary);
}

.login-container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: #0c1f7b;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

.container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 400px;
}

form {
    width: 300px;
    padding: 1.5rem;
    border-radius: 0.25rem;
    background: var(--secondary);
    color: var(--textColor);
}

form h2 {
    text-align: center;
    margin: 20px 0;
}

form div {
    margin-bottom: 1.5rem;
}

form div input,
label {
    display: block;
    width: 100%;
}

form div input {
    height: 25px;
    background: transparent;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: #fff;
}

#remember-me-con,
#button-con {
    display: flex;
    justify-content: flex-end;
    max-width: 200px;
    margin-left: auto;
}

#remember-me-con input,
label {
    width: auto;
}

#remember-me {
    margin-right: 5px;
    height: auto;
}

#button-con button {
    padding: 10px 20px;
    color: white;
    background: var(--buttonColor);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

form a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: var(--textColor);
}

@media screen and (max-width: 768px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    .left.container {
        display: none;
    }

    form {
        width: 80vw;
        padding: 30px;
    }

    form div input {
        height: 50px;
    }

    form div label {
        font-size: 20px;
    }

    form h2 {
        font-size: 30px;
    }

    form a {
        font-size: 20px;
    }

    .image {
        display: none;
    }
}

@media screen and (max-width: 400px) {


    form h2 {
        font-size: 25px;
    }

    form {
        padding: 15px;
    }

    form div label,
    form a {
        font-size: 15px;
    }

    .right.container {
        width: 100vw;
    }
}