body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* factorial */
.main{
  padding: 2rem 5rem;
}
.center{
  text-align: center;
}
.mb-1{
  margin-bottom: 2rem;    
}

.mb{
  margin-bottom: .5rem;
}
.mt{
  margin-top: 1rem;
}

.rowFact{
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowFact div input.primary{
  color: white;
  background: rgb(0, 162, 255);
  border: 0;
  width: 130px;
}
.rowFact div input.primary:hover{
  color: white;
  background: rgb(0, 38, 255);
  border: 0;
  border: 0;
  width: 130px;
}
.rowFact div input{
  border: 2px solid #888888;
  border-radius: 4px;
  height: 40px;
  padding: 0 5px;
}
.widthFact{
  height: 100px;
  width: 305px;
}
.mt-1{
  margin-top: 2rem;
}
/* factorial */